 <div class="container ml-52 mt-5 bg-black border border-white px-4 py-2 w-fit text-white">
    <%= post.user.name %>:
  </div>
  <div class="container ml-52 bg-black border border-white px-4 py-2 w-fit h-fit text-white">
    <%= post.quote %>
  </div>
  <div class="container ml-52 bg-black border border-white px-4 py-2 w-fit h-fit text-white">
  <p>
    <%= image_tag 'pexels-photo-417074.jpeg' %>
  </p>
  </div>