<% if logged_in? %>

 <%= render @posts %>

<% end %>
















































<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1><h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
<h1>t</h1>
